<h1><%= link_to "topics", topics_path %></h1>
<%= link_to "发布新帖子", new_topic_path, :class => "new_topics btn btn-primary btn-large" %>
<section class="topics">
	<% @topics.each do |topic| %>
		<div class="topic_line">
			<div class="avatar">
				<%= link_to gravatar_for_small(topic.user), user_path(topic.user) %>
			</div>
			<div class="replies">3</div>
			<div class="right-info">
				<div class="title"><%= link_to topic.title, topic_path(topic) %></div>
				<div class="info">
					<%= link_to topic.user.username, user_path(topic.user) %>
					发布于<%= time_ago_in_words topic.created_at %>以前
					&nbsp||&nbsp最后由<%= link_to "current",current_user %>于<%= time_ago_in_words topic.updated_at %>回复
				</div>
			</div>
		</div>
	<% end %>
	<%= paginate @topics %>
</section>