<section>
	<div class='span9'>
		<article class='topic-boder'>
			<h1><%= @topic.title %></h1>
			<h2><%= @topic.content %></h2>
			<h3><%= @topic.created_at.to_date %></h3>
			<h3><%= @topic.updated_at.to_date %></h3>
			<h3><%= @topic.active_time.to_date %></h3>
			<h3><%= @topic.tags %></h3>
			<h3><%= @topic.user.username%></h3>
		</article>
		<article class='reply-border'>
			<% @topic.replies.each do |reply|%>  
				<li><%= reply.content %></li>
				<li><%= reply.user.username %></li>
			<% end %>
		</article>

		<%= simple_form_for @reply, url: replies_path(:topic_id => @topic) do |f| %>
			<%= f.input :content, label: false, as: :text%>
			<%= f.submit 'чбошод' %>
		<% end %>

	</div>
	<div class='span3'>
	</div>
</section>