<section>
	<div class='span9'>
		<article class='topic-boder'>
			<h1><%= @topic.title %></h1>
			<h2><%= @topic.content %></h2>
			<h3><%= @topic.created_at.to_date %></h3>
			<h3><%= @topic.updated_at.to_date %></h3>
			<h3><%= @topic.active_time.to_date %></h3>
			<h3><%= @topic.tags %></h3>
			<h3><%= @topic.user.username%></h3>
		</article>
		<article class='reply-border'>
			<% @topic.replies.each do |reply|%>  
				<%= render partial: reply, object: @reply %>
			<% end %>	
			<%= paginate @replies, remote: true %>
		</article>
		<div id="success-error"></div>
		<%= simple_form_for @reply, url: replies_path(:topic_id => @topic), remote: true do |f| %>
			<%= f.input :content, label: false, as: :text, input_html: {:rows => "8", :cols => "20"} %>
			<%= f.submit 'чбошод' %>
		<% end %>
	</div>
	<div class='span3'>
		<section class='relate-topic'>
			<%- relate_topics = @topic.relate_topics(5) %>
			<% if relate_topics.any? %>
				<% relate_topics.each do |relate_topic| %>
					<h5><%= link_to relate_topic.title, topic_path(relate_topic) %></h5>
				<% end %>
			<% end %>
		</section>
	</div>
</section>